In [1]:
import pandas as pd

In [2]:
guizhoumaotai = pd.read_csv("D:\\quant-learning\\quant-learning-git\\raw_data\\A_share_Raw_Data\\sh_600519_raw_daily_data.csv")

In [15]:
guizhoumaotai

          date     open     high      low    close   volume
0   2024-10-25  1547.00  1574.79  1546.01  1558.85  2774508
1   2024-10-28  1560.00  1565.00  1522.23  1565.00  3912140
2   2024-10-29  1560.00  1580.00  1530.00  1531.62  4116578
3   2024-10-30  1525.00  1551.19  1523.41  1532.00  3200574
4   2024-10-31  1532.15  1540.00  1520.00  1527.79  2995735
..         ...      ...      ...      ...      ...      ...
238 2025-10-20  1455.00  1469.50  1454.88  1457.93  2594988
239 2025-10-21  1459.00  1469.94  1455.50  1462.26  2544267
240 2025-10-22  1462.08  1465.73  1456.00  1458.70  1819492
241 2025-10-23  1455.00  1468.80  1447.20  1467.98  2932235
242 2025-10-24  1467.95  1478.88  1449.34  1450.00  3822583

[243 rows x 6 columns]

In [3]:
numeric_cols = ["open", "high", "low", "close", "volume"]

In [9]:
guizhoumaotai["date"] = pd.to_datetime(guizhoumaotai["date"])

In [4]:
guizhoumaotai[numeric_cols] = guizhoumaotai[numeric_cols].apply(pd.to_numeric, errors="coerce")

In [10]:
returns_no_datetime = guizhoumaotai[numeric_cols].pct_change()

In [11]:
returns = pd.concat([guizhoumaotai['date'], returns], axis=1)

In [14]:
returns.tail()

          date      open      high       low     close    volume
238 2025-10-20 -0.018947 -0.012433  0.000585  0.002014 -0.318648
239 2025-10-21  0.002749  0.000299  0.000426  0.002970 -0.019546
240 2025-10-22  0.002111 -0.002864  0.000344 -0.002435 -0.284866
241 2025-10-23 -0.004842  0.002095 -0.006044  0.006362  0.611568
242 2025-10-24  0.008900  0.006863  0.001479 -0.012248  0.303641

In [17]:
returns["open"].corr(returns["close"])

np.float64(0.12973281547877183)

In [18]:
returns["open"].cov(returns["close"])

np.float64(1.9597466204530607e-05)

In [19]:
returns.corr()

            date      open      high       low     close    volume
date    1.000000  0.005884  0.012217  0.010542  0.004874 -0.020336
open    0.005884  1.000000  0.538689  0.678469  0.129733  0.007432
high    0.012217  0.538689  1.000000  0.631579  0.690883  0.448712
low     0.010542  0.678469  0.631579  1.000000  0.554383 -0.181521
close   0.004874  0.129733  0.690883  0.554383  1.000000  0.233968
volume -0.020336  0.007432  0.448712 -0.181521  0.233968  1.000000

In [20]:
returns.cov()

,date,open,high,low,close,volume
date,8.291700e+31,6.792043e+11,1.289021e+12,9.695633e+11,5.246207e+11,-7.828413e+13
open,6.792043e+11,1.619971e-04,7.977421e-05,8.757638e-05,1.959747e-05,4.015213e-05
high,1.289021e+12,7.977421e-05,1.353762e-04,7.452506e-05,9.540526e-05,2.216209e-03
low,9.695633e+11,8.757638e-05,7.452506e-05,1.028506e-04,6.672823e-05,-7.814544e-04
close,5.246207e+11,1.959747e-05,9.540526e-05,6.672823e-05,1.408617e-04,1.178757e-03
volume,-7.828413e+13,4.015213e-05,2.216209e-03,-7.814544e-04,1.178757e-03,1.801956e-01

In [21]:
returns.corrwith(returns["open"])

date      0.005884
open      1.000000
high      0.538689
low       0.678469
close     0.129733
volume    0.007432
dtype: float64

In [23]:
returns.corrwith(returns["volume"])

date     -0.020336
open      0.007432
high      0.448712
low      -0.181521
close     0.233968
volume    1.000000
dtype: float64

In [24]:
obj = pd.Series(["c", "a", "b", "a", "a", "b", "b", "c", "c"])

In [25]:
uniques = obj.unique()

In [26]:
uniques

array(['c', 'a', 'b'], dtype=object)

In [27]:
obj.value_counts()

c    3
a    3
b    3
Name: count, dtype: int64

In [28]:
pd.value_counts(obj.to_numpy(), sort=False)

C:\Users\11321\AppData\Local\Temp\ipykernel_36160\164454357.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(obj.to_numpy(), sort=False)

c    3
a    3
b    3
Name: count, dtype: int64

In [29]:
obj

0    c
1    a
2    b
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [30]:
mask = obj.isin(["b", "c"])

In [31]:
mask

0     True
1    False
2     True
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [32]:
mask = obj.isin(["b", "c"])

In [33]:
obj[mask]

0    c
2    b
5    b
6    b
7    c
8    c
dtype: object

In [35]:
to_match = pd.Series(["c", "a", "c", "b", "b", "a"])

In [38]:
unique_vals = pd.Series(["a", "b", "c"])

In [39]:
indices = pd.Index(unique_vals).get_indexer(to_match)

In [49]:
data = pd.DataFrame({"Qu1": [1, 3, 4, 3, 4],
                     "Qu2": [2, 3, 1, 2, 3],
                     "Qu3": [1, 5, 2, 4, 4]},
                    
)

In [50]:
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [51]:
data["Qu1"].value_counts().sort_index()

Qu1
1    1
3    2
4    2
Name: count, dtype: int64

In [54]:
result = data.apply(lambda obj: pd.Series(obj).value_counts()).fillna(0)

In [55]:
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

In [56]:
data = pd.DataFrame({"a": [1, 1, 1, 2, 2], "b": [0, 0, 1, 0, 0]})

In [57]:
data

   a  b
0  1  0
1  1  0
2  1  1
3  2  0
4  2  0

In [58]:
data.value_counts()

a  b
1  0    2
2  0    2
1  1    1
Name: count, dtype: int64